

<table class="table js-datatable">
    <thead>
    <tr>
        <th>actions</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Code</th>
            </tr>
    </thead>
    <tbody>
    {% for talk in talks %}
    <tr>
        <td>
            <a href="{{ path('talk_show', talk.rp) }}">
                <span class="fas fa-eye"></span>
                <i class="bi bi-info"></i>
                show
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('talk_edit', talk.rp) }}">
                <span class="fas fa-edit"></span>
                <i class="bi bi-pencil"></i>
                edit
            </a>
            {% endif %}
        </td>

                    <td>{{ talk.id }}</td>
                    <td>{{ talk.title }}</td>
                    <td>{{ talk.code }}</td>
            </tr>
    {% else %}
    <tr>
        <td colspan="4">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
