{% extends "talk/base.html.twig" %}

{% block title %}{{  class }}{% endblock %}

{% block body %}
<h1>{{ class }} {{ _self }}</h1>

    {% set columns = [
    'title',
        'code'
    ] %}

<twig:api_grid
        facets="false"
        :class="class"
        :apiGetCollectionUrl="apiCall"
        :caller="_self"
        :columns="columns"
>

    <twig:block name="title">
        <a href="{{ path('talk_show', row.rp) }}">{{ row.title }}</a>
    </twig:block>
    <twig:block name="code">
         {{ row.code }}
    </twig:block>
</twig:api_grid>
{% endblock %}
