{% extends "talk/base.html.twig" %}

{% block description "Testing meta tags, use-meta " ~ talk.title %}
{% block meta %}
        {{ parent() }}
        <meta name="userId" content="12345678">
    {# tests __toString method of talk #}
        <meta name="talkString" content="{{ talk }}">
    {% endblock %}

{% block body %}
    <h1>
        {{ talk.title }}
    </h1>

    {{ block('reactions') }}

    {# this is mostly for testing #}
    {% if app.environment == 'test' %}
        <a href="{{ path('talk__reactions', talk.rp) }}">_reactions</a>
        <a href="{{ path('talk__reactions', talk.rp({embedded: true})) }}">_reactions</a>
    {% endif %}

    {% set _listSc='rlist' %}
    <div id="reaction-list"
            {{ stimulus_controller(_listSc, {reactionCount: talk.reactions.count}) }}
    >

        staring value: <i {{ stimulus_target(_listSc, 'reactionCount') }}>
            !!{{ talk.reactions.count }}</i> Reactions
        {#        {{ block('reactions') }} #}

        {% set _sc = 'add_reaction' %}

        {{ form_start(form, {
            attr: stimulus_controller(_sc).toArray()
            |merge(stimulus_action(_sc, 'onSubmit').toArray())
        }) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('React!') }}</button>
        <span {{ stimulus_target(_sc, 'message') }}>
                .
            </span>

        {{ form_end(form) }}

        <h3>Twig</h3>
        class="reaction-list-count"
        <div class="reaction-list-count">
            {{ talk.reactions|length }}
        </div>

        <ol>
            {% for reaction in talk.reactions %}
                {% set _sc = 'reaction' %}
                <li {{ stimulus_controller(_sc, {id: reaction.id},
                    controllerOutlets = { 'rlist': '#reaction-list' }
                ) }}>
            <span {{ stimulus_target(_sc, 'message') }}>
            </span>
                    {{ reaction.message }}
                    <button class="btn btn-sm"
                            {{ stimulus_action(_sc, 'delete') }}>
                        DEL {{ reaction.id }}
                    </button>

                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block jstrig %}
    <h3>JSTwig</h3>
    <twig:jsTwig
            id="content"
            :caller="_self"
            :apiUrl="apiUrl"
    >
        <twig:block name="content" id="content">
            <ol>
                <b>{{ data.code }}</b>
                Title: {{ data.title }}
                {% for reaction in data.reactions %}
                    <li>
                        {{ reaction.message }}
                    </li>
                {% endfor %}
            </ol>
        </twig:block>
    </twig:jsTwig>
{% endblock %}

    {% block reactions %}
        <div hx-get="{{ path('talk__reactions', talk.rp) }}"
             hx-ext="debug"
             hx-target="this"
             hx-trigger="load, every 3s"
        >
{#            {{ include('talk/_reactions.html.twig', {reactions: talk.reactions}) }}#}
            reactions go here.

        </div>
    {% endblock %}

{% block controllerOutletsExample %}
    {# example of controllerOutlets #}
    {% set _sc = 'something' %}
<button {{ stimulus_controller(_sc,
    controllerOutlets = { 'alert': '.message' }
) }}
        {{ stimulus_action(_sc, 'clicked' ) }}
>Click me
</button>

    <ol>
        <li class="message" {{ stimulus_controller('alert') }}></li>
        <li class="message" {{ stimulus_controller('alert') }}></li>
    </ol>

{% endblock %}
