{% extends "talk/base.html.twig" %}

{% block meta %}
    {{ parent() }}
        <meta name="userId" content="12345678">
        <meta name="admin" content="true">
        <meta name="email" content="joe@doe.com">
        <meta name="snake_case_name" content="are camelized">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script type="module">
        htmx.logAll();
    </script>
{% endblock %}

{% block body %}
    {{ talk }}
<ol>
    <li class="message" {{ stimulus_controller('alert') }}></li>
    <li class="message" {{ stimulus_controller('alert') }}></li>
</ol>

    <h1>Auto-update</h1>
    {{ block('reactions') }}

    {# this is mostly for testing #}
    {% if app.environment == 'test' %}
        <a href="{{ path('talk__reactions', talk.rp) }}">_reactions</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('talk_edit', talk.rp) }}">Edit (admin)</a>
    {% endif %}

    {% set _sc = 'something' %}
    <button {{ stimulus_controller(_sc,
        controllerOutlets = { 'alert': '.message' }
    ) }}
            {{ stimulus_action(_sc, 'clicked' ) }}
    >Click me
    </button>
    <h1>{{ talk.title }}</h1>
    {% set _listSc='rlist' %}
    <div id="reaction-list"
            {{ stimulus_controller(_listSc, {reactionCount: talk.reactions.count}) }}
    >

        staring value: <i {{ stimulus_target(_listSc, 'reactionCount') }}>
            !!{{ talk.reactions.count }}</i> Reactions
        {#        {{ block('reactions') }} #}

        {% set _sc = 'add_reaction' %}

        {{ form_start(form, {
            attr: stimulus_controller(_sc).toArray()
            |merge(stimulus_action(_sc, 'onSubmit').toArray())
        }) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('React!') }}</button>
        <span {{ stimulus_target(_sc, 'message') }}>
                .
            </span>

        {{ form_end(form) }}

        <h3>Twig</h3>
        class="reaction-list-count"
        <div class="reaction-list-count">
            {{ talk.reactions|length }}
        </div>

        <ol>
            {% for reaction in talk.reactions %}
                {% set _sc = 'reaction' %}
                <li {{ stimulus_controller(_sc, {id: reaction.id},
                    controllerOutlets = { 'rlist': '#reaction-list' }
                ) }}>
            <span {{ stimulus_target(_sc, 'message') }}>
            </span>
                    {{ reaction.message }}
                    <button class="btn btn-sm"
                            {{ stimulus_action(_sc, 'delete') }}>
                        DEL {{ reaction.id }}
                    </button>

                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block jstrig %}
    <h3>JSTwig</h3>
    <twig:jsTwig
            id="content"
            :caller="_self"
            :apiUrl="apiUrl"
    >
        <twig:block name="content" id="content">
            <ol>
                <b>{{ data.code }}</b>
                Title: {{ data.title }}
                {% for reaction in data.reactions %}
                    <li>
                        {{ reaction.message }}
                    </li>
                {% endfor %}
            </ol>
        </twig:block>
    </twig:jsTwig>
{% endblock %}

{% block client_side_test %}

<div hx-ext="client-side-templates">
    <button hx-get="https://jsonplaceholder.typicode.com/todos/1"
            hx-swap="innerHTML"
            hx-target="#content"
            mustache-template="foo">
        Click Me
    </button>


    <p id="content">Start</p>
    {% verbatim %}
        <template id="foo">
            {{ userId }} {{ title }}
        </template>
    </div>
    {% endverbatim %}
    {#        <p> {% raw %}{{userID}}{% endraw %} and {% raw %}{{id}}{% endraw %} and {% raw %}{{title}}{% endraw %} and {% raw %}{{completed}}{% endraw %}</p> #}

    {% endblock %}

    {% block reactions %}
        <div hx-get="{{ path('talk__reactions', talk.rp) }}"
             hx-ext="debug"
             hx-target="this"
             hx-trigger="load, every 3s"
        >
            {{ include('talk/_reactions.html.twig', {reactions: talk.reactions}) }}
            reactions go here.

        </div>
    {% endblock %}
